{erl_opts, [debug_info]}.

{deps, [proper]}.

{plugins, [steamroller]}.

{format, [{files, ["src/*.erl", "test/*.erl"]}]}.

{
  shell,
  [
    {apps, [fp_lab2]}
  ]
}.

{project_plugins, [rebar3_proper]}.

{
  profiles,
  [
    {
      default,
      [
        {
          deps,
          [
            %% hex
            {proper, "1.3.0"},
            %% newest from master
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}}
          ]
        }
      ]
    }
  ]
}.
